<div class="catalog-menu">
	<div class="top-catalog-options">
		<div class="left-select">
			<select  onchange={{action "changeCatalog" value="target.value"}} >
				<option>Выберите жанр</option>
				<option>Все жанры</option>
				{{#each model.genres as |item|}}
					<option>
						{{item.name}}
					</option>
				{{/each}}
			</select>
		</div>
		{{!-- <div class="switch">
			<div class="active">
				По аниме
			</div>
			<div>
				По сериям
			</div>
		</div> --}}
	</div>
	<div class="main-content">
		{{#each model.anime as |catalog|}}
			{{#link-to 'main.anime.page' catalog.id }}
				<div class="photo" style="background-image: url({{catalog.cover}});"></div>	
				<div class="title">{{catalog.title}}</div>
				<div class="date">{{catalog.date}}</div>
			{{/link-to}}
		{{/each}}
	</div>
</div>