<div class="wraping full_one">
	<div class="descriping">
		<div class="descriping-title">Новое аниме</div>
		<div class="input-title">Добавить по ссылке</div>
		{{input value=url}}
		<div id="info"></div>
		<button {{action 'addOnUrl'}}>Заполнить поля</button>
		<form {{action 'sendData' on='submit'}} enctype="multipart/form-data" method="post">
			<div class="input-title">Заголовок</div>
			{{input value=title}}
			<div class="input-title">Производство</div>
			{{input value=manufacturer}}
			<div class="input-title">Жанр</div>
			{{#each genres as |item|}}			
				<label>
					{{input type="checkbox" name=item.id checked=item.check}}
					{{item.name}}
				</label>
			{{/each}}
			<div class="input-title">Тип аниме</div>

			{{input  value=type}}
			<div class="input-title">Cover:</div>
			{{file-upload fileInputChanged="receiveFile" uploadProgress="uploadProgress"}}
			
		       
		    
			{{!-- {{input  value=cover}} --}}
			<div class="input-title">Дата выпуска</div>
			{{input value=date}}
			<div class="input-title">Описание</div>
			{{textarea value=description}}
			<button>Сохранить аниме</button>
			<div class="alert" style="display:{{valid}}">Упс, чего-то не хватает</div>
		</form>
	</div>
</div>