<form>
{{input placeholder="Ссылка на обложку" value=cover}}<br>
{{input placeholder="Название" value=title}}<br>
{{input placeholder="Производтсво" value=manufacturer}}<br>
<select onchange={{action "selectChange" value="target.value"}}>
	<option selected="selected" disabled='disabled'>Выберите жанр</option>
	{{#each genres as |item|}}
		<option>{{item.name}}</option>
	{{/each}}
</select><br>
{{input placeholder="Тип" value=type}}<br>
{{input placeholder="Дата" value=date}}<br>
{{textarea 
	placeholder="Описание" 
	value=description 
}}<br>
<div class="alert" style="display:{{valid}}">Упс, чего-то не хватает</div><br>
<button {{action 'sendData'}} style="display:block; margin-top:15px;">Отпавить</button> 

</form>

