<div class="wraping">
	<div class="descriping">
		<div class="descriping-title">Описание аниме</div>
		<form >
			<div class="input-title">Заголовок</div>
			{{input value=anime.title}}
			<div class="input-title">Производство</div>
			{{input value=anime.manufacturer}}
			<div class="input-title">Жанр</div>
			<select onchange={{action "selectChange" value="target.value"}}>
				{{#each genres as |item|}}			
					<option>{{item.name}}</option>			
				{{/each}}
			</select>
			<div class="input-title">Тип аниме</div>
			{{input  value=anime.type}}
			<div class="input-title">Дата выпуска</div>
			{{input value=anime.date}}
			<div class="input-title">Описание</div>
			{{textarea value=anime.description}}
			<button {{action 'edit'}}>Сохранить описание</button>
			<div class="alert" style="display:{{valid}}">Упс, чего-то не хватает</div>
			
		</form>
	</div>
	<div class="series-list">
		<div class="descriping-title">Список серий</div>
		<div class="input-title">Существующие серии:</div>
		{{#if anime.series}}
			{{#each anime.series as |item|}}
				<div class="url-number">
					<div class="numer">{{item.number}}</div>
					<button class="gear" {{action 'editSeries' item.id item.number item.video}}></button>
					<div class="anime-source">{{item.video}}</div>
				</div>
			{{/each}}
		{{/if}}
		{{series-edit seriesId=selectedId anime=anime.title number=selectedNumber video=selectedVideo}}
	</div>
</div>

{{!-- <div>
	Обложка:<br>
	{{input value=anime.cover}}
</div> --}}



