<div class="anime-page-wrap">
	<div class="anime-menu">
	<div class="anime-background-image" style="background-image:url(../{{model.series.firstObject.cover}})"></div>
		<div class="opacity-background">
			<div class="top_wrapper">
				<div class="name-n-descr">
					<h1>{{model.title}}</h1>
					<div class="desrc">
						{{#each model.genres as |genre|}}
							{{genre.name}} 
						{{/each}}
					</div>
				</div>
				<div class="subscribe-button">
					{{#link-to 'main.anime.edit' model.id class="edit"}}
						редактировать
					{{/link-to}}
					{{#if model.meta.is-subscribe}}
						<button onClick={{action 'unsubscribeToAnime'}}>
							Отписаться
						</button>
					{{else}}
						<button onClick={{action 'subscribeToAnime'}}>
							ПОДПИСАТЬСЯ
						</button>
					{{/if}}
				</div>
			</div>
			<div class="anime-main-preview">
				{{video-player anime=model}}
			</div>
		</div>
	</div>
	<div class="anime-description">
		<div class="rating-vol">
			<div class="percentage-background"></div>
			<div class="rating-title">Средний балл:</div>
			<div class="rating-nums">9.2 из 10
			</div>
		</div>
		<div class="short-des">
			<div class="short-des-title">
				Краткое описание
			</div>
			<div class="description-points">
				<table style="width:100%">
					<tr>
						<td style="">Производство:</td>
						<td>{{model.manufacturer}}</td>
					</tr>
					<tr>
						<td>Жанр:</td>
						<td>{{model.genre.name}}</td>
					</tr>
					<tr>
						<td>Тип:</td>
						<td>{{model.type}}</td>
					</tr>
					<tr>
						<td>Выпуск:</td>
						<td>{{model.date}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="main-anime-description">
			{{model.description}}
		</div>
	</div>
</div>

