<h1>{{categoryValue}}</h1>
<div class="catalog-menu">
	<div class="top-catalog-options">
		{{sort-select 
			gens=model.genres 
			genre=genre
			anims=model.anime 
			updateValue=(action 'updateCategoryValue')
		}}
		<div class="switch">
			<div class="active">По аниме</div>
			<div>По сериям</div>
		</div>
	</div>
	<div class="main-content">
		{{#each animeItems as |catalog|}}
			{{#link-to 'main.anime.page' catalog.id }}
				{{#if catalog.video_preview}}
					<div 
						class="photo" 
						style={{html-safe (concat "background-image: url(" catalog.cover.url ");")}}
						onmouseenter={{action 'showVideoPreview' catalog.video_preview}}
						onmouseleave={{action 'hideVideoPreview'}}
					>
						<video 
							preload="auto" 
							class="video_preview" 
							width="210" 
							height="295" 
							src={{concat "/" catalog.video_preview}}
						>
						</video>
					</div>
				{{else}}
					<div 
						class="photo" 
						style={{html-safe (concat "background-image: url(" catalog.cover.url ");")}}
					>
					</div>
				{{/if}}
				<div class="title">{{catalog.title}}</div>
				<div class="date">{{catalog.date}}</div>
			{{/link-to}}
		{{/each}}
	</div>
</div>