


{{catalogFilter}}
{{anime-library}}

{{!-- <div>
	<select  onchange={{action "changeCatalog" value="target.value"}} >
		<option selected="selected" disabled="disabled">Выберите жанр</option>
		{{#each model.genres as |item|}}
			<option>{{item.name}}</option>
		{{/each}}
	</select>
</div> --}}
{{!-- {{#each model.anime as |catalog|}}
	{{#link-to 'main.anime.page' catalog.id }}
	<div class="an_item">
		<img src="{{catalog.cover}}">
		<div>{{catalog.title}}</div>
		<div>{{catalog.date}}</div>
	</div>
	{{/link-to}}
{{/each}}
 --}}

