<h1>{{categoryValue}}</h1>
<div class="catalog-menu">
	<div class="top-catalog-options">
		{{sort-select 
			gens=model.genres 
			genre=genre
			anims=model.anime 
			updateValue=(action 'updateCategoryValue')
		}}
		<div class="switch">
			<div class="active">По аниме</div>
			<div>По сериям</div>
		</div>
	</div>
	<div class="main-content">
		{{#each animeItems as |catalog|}}
			{{#link-to 'main.anime.page' catalog.id }}
				<div class="photo" style="background-image: url({{catalog.cover}});"></div>	
				<div class="title">{{catalog.title}}</div>
				<div class="date">{{catalog.date}}</div>
			{{/link-to}}
		{{/each}}
	</div>
</div>